<html>
<h1>Come with me, and you'll be</h1>
<p id = 'homepage-p'>...in a world of pure imagination!</p>

<div>
    <span><a>item1</a></span>
    <span><a>item2</a></span>
    <span><a>item3</a></span>
</div>

</html>