<html>
<h1>Come with me, and you'll be</h1>
<p id = 'homepage-p'>...in a world of pure imagination!</p>

<div>
    <span><a>ONE</a></span>
    <span><a>TWO</a></span>
    <span><a>THREE</a></span>
</div>

</html>